/* 背景颜色 */
.body_bg {
    background-color: #222d32;
}

/* margin-top 登录页面使用 */
.mgt_150 {
    margin-top: 150px;
}

/* 登录页面，面板头部使用 */
.panel .panel-title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}